.title-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-color{ 
    background-color: #00a8ff;
    color: #fff;
}