
/* @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&display=swap'); */

body {
  background-color: rgb(27, 27, 27);
  color: whitesmoke;
}

.title-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color:rgb(73, 73, 73);
  margin: 5px;
  margin-bottom: 10px;
}

.update-container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 10px;
}

.small-col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.hr {
  width: 80%;
  height: 2px;

  background-color: gray;
}

.title-text {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px solid white;
}

body {
  margin: 5px;
}

.desc-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color:rgb(73, 73, 73);
  margin: 5px;    
  border: none;
}

.text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px solid white;
}

button {
  text-align: center;
  background-color: rgb(73, 73, 73);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 500px;
  font-size: 14px;
  width: 120px;
  margin: 5px;
  height: 50px;
  transition: 0.3s all ease;
}
.hidden {
  display: none;
}
.visable{ 
  display: block;
}


.download-container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  border: none;
}

.button:hover {
background-color: rgba(245, 245, 245, 0.503);
color: black;
cursor: pointer;
}

.button-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art {
  object-fit: cover;
  width: 150px;
  margin: 5px;
  border: 2px solid whitesmoke;
  border-radius: 1000px;
}

.button-color{ 
  background-color: rgb(73, 73, 73);
  color: whitesmoke;
}

.button-container{ 
  display: flex;
}

.currently-installed{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.margin-left{ 
  margin-left: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 15px 5px;

  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}